footer {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.footer_container {
    width: 80%;
    margin-top: 59px;
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;
}

/* logo */
.f_logo_container img {
    width: 300px;

}

.f_logo_container {
    width: 100%;
}

.f_icon_container {
    display: flex;
    margin-top: 20px;
}

.f_icon {
    color: white;
    padding: 5px;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    margin-right: 25px;
    font-size: 26px;
}



/* details */
.f_item_1 {
    width: 100%;
}

ul {
    margin: 0px 0px 0px !important;
    padding: 0px 0px 0px 0px;
    padding-left: 2rem;
 
}

.f_item_1 ul li {
    list-style-type: none;
    line-height: 34px;
    color: #c9c9c9;
    font-size: 20px;
    width: 200px;
}

.f_item_1 ul a {
    text-decoration: none;
}

.f_item_1 ul li a {
    color: #c9c9c9 !important;
    text-decoration: none;


}

.f_item_1 ul li:nth-child(1) {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;

}

.item_conteiner {
    display: flex;
    margin-top: 20px;
}

.footer_line {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_line>hr {
    background-color: #686868;
    width: 90%;
    border: 1px solid transparent;
}

/* copyrights */

.copy_rights {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 80%;
    display: flex;
    color: white;
    justify-content: space-between;
}

.copy_rights p {
    color: #c9c9c9;
}




/* ------responsive------- */

@media (max-width:1422px) {

    .footer_container {
        flex-direction: column;
        margin-top: 22px;
        margin-bottom: 23px;
    }

    .item_conteiner {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;

    }


    /* logo */

    .f_logo_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f_logo_container img {
        width: 230px;
    }

    .f_icon {
        padding: 5px;
        margin-left: 21px;
        font-size: 31px;
    }
    .f_icon_container {
        margin-right: 11px;
    }

    /* details */

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f_item_1 {
        margin-top: 20px;
    }

    .f_item_1 ul li:nth-child(1) {
        font-size: 21px;
        margin-bottom: 2px;

    }

    li {
        text-align: center;
        font-size: 17px;
        line-height: 30px;
    }
    .f_item_1 ul li a {
        color: #c9c9c9!important;
        font-size: 18px;
    }



    /* horizontal line */

    .footer_line hr {
        width: 90% !important;
        margin-bottom: 0px;
    }


    /* copyrights    */
}

.copy_rights {
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 51px;
}

.copy_rights p:nth-child(1) {
    margin-bottom: 8px;
}

.copy_rights {
    margin-top: 34px;

}