/* main trip location */
.form_cont {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
}

.form_main_cont1 {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

}

.form_cont .f_1 {
    margin: -4px 26px 15px 22px;
}

.form_cont .f_2 {
    margin: 16px 26px 14px 22px;

}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 11px !important;
    font-size: 14.8px !important;

}

.f_bb {
    margin-right: 20px !important;
}

.f_bb .f_b_1 {
    background-color: black !important;
    box-shadow: 1px 1px 2px 0px black !important;
    padding: 7px 23px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: #ff8600 !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #ff8600 !important;
}



/* search booking result */
.result_main_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}


/* travel details */
.result_cont{
 width: 70%;
}
.r_d1 {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    padding-bottom: 10px;
}

.result_cont .r_d1p1{
    font-size: 10px;
    background-color: #ffa500ab;
    padding:1px 6px;
    position: absolute;
    top: 0px;
    left:0px;
}
.result_cont .r_d1p1 span{
    font-weight:bold;
    font-size:12px;
}

.r_d2 {
    display: flex;
 
}

.r_d2 img {
    width: 51px;
    height: 50px;
    border-radius: 2px;
}

.r_d3 {
    margin-left: 15px;
    margin-top: 8px;
}

.r_d3 p {
    font-size: 15px;
}

.r_d3 p:nth-child(2) {
    font-size: 10px;
    margin-top: 5px;
}

.f_b2{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.f_b2 .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #ff8600 !important;
    box-shadow: 1px 1px 18px 1px #ff860059 !important;
    padding: 7px 23px !important;
}

.f_b2 .r_d1_p{
    margin-top: 5px;
    font-size: 13px;
    color: #0072ff;
    font-weight: bold;
    display:flex;
    align-items: center;
}
.off1 {
    position: absolute;
    bottom: 6px;
    right: 22%;
    font-size: 13px;
    color: green;
    font-weight: bold;
}

table{
    width:100%;
    margin:10px 0px;
    border-collapse: separate;
    border-spacing: 0 16px;
}
table tr th{
    font-size:60px;

 
}
table tr{
    background-color:#e9e9e9;
}
.data_heading td{
    font-size:18px;
    font-weight:600;
}
.data_heading_row tr td{
    padding:9px 0px;

}
table tr td{
    text-align: center;
    border: none;
    padding: 10px 0px;
    border: none;
}




/* pop up window  */
.p_txt{
    color:#000000b8 !important;
    font-weight:bold !important;
    font-size:18px !important;
    margin-bottom: 10px !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7pxrgba(0,0,0,0.2),0px 24px 38px 3pxrgba(0,0,0,0.14),0px 9px 46px 8pxrgba(0,0,0,0.12);
    margin: 32px;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100% - 64px);
    /* max-width: 628px; */
    width: 437px;
    padding: 20px;
}


 
.tt1 .css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #ff8600 ;
}
.tt1  .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #ff8600 ;
}
.f_b .f_bbb {
    background-color: #ff8600 !important;
}

/* radion button */
.css-u4tvz2-MuiFormLabel-root.Mui-focused {
    color: #000000;
}



/* responsive for 700px */

@media(max-width:1037px){
    .result_cont {
        width: 95%;
    }
    .r_d1 {
        margin-top: 12px;
        display: flex;
        justify-content: flex-start;
        padding-left: 5px;
        padding-bottom: 10px;
    }
    .r_d3 {
        margin-left: 5px;
        margin-top: 8px;
    }
    .data_heading td {
        font-size: 11px;
        font-weight: 600;
    }
    table tr td {
        font-size: 11px;
    }
    .f_b2 button{
        font-size:10px;
    }
    .f_b2 .css-sghohy-MuiButtonBase-root-MuiButton-root {
        background-color: #ff8600 !important;
        box-shadow: 1px 1px 18px 1px #ff860059 !important;
        padding: 3px 7px !important;
    }
    .f_b2 .r_d1_p {
        margin-top: 5px;
        font-size: 10px;
     
    }
    .r_d2 img {
        width: 40px;
        height: 42px;
        border-radius: 2px;
    }
    .result_main_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -48px;
    }
    .r_d3 p {
        font-size: 11px;
    }
    
    table tr td {
        text-align: center;
        border: none;
        padding: 1px 0px;
        border: none;
    }
    .popup_form{
        width: 80vw !important;
    }
}




